:root {
  --main-color: #212121;
  --text-color: #757575;
  --white: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.6);
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
  --accent: #2196f3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  color: var(--main-color);
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.features__title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__item {
  max-width: 450px;
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  height: 120px;
  max-width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-light);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__title {
    text-align: left;
  }
  .features__item {
    width: 270px;
  }
  .features__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px;
    height: 120px;
    width: 270px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--bg-light);
    margin-bottom: 30px;
  }
}
.header {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .contacts-icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts a:hover, .contacts a:focus {
    color: var(--accent);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    gap: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__link {
    display: block;
    padding: 32px 0;
    position: relative;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent);
  }
  .site-nav__link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}
.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.services {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .services {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    position: relative;
    background-color: var(--white);
  }
  .services__title {
    margin-bottom: 50px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .services.section {
    padding-top: 0;
  }
  .services__item {
    position: relative;
  }
}
.team {
  background-color: var(--bg-light);
}
.team__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team__name {
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.team__photo {
  margin-bottom: 30px;
}
.team__item {
  background-color: var(--white);
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 24px;
}
.team__item:last-child {
  margin-bottom: 0px;
}
.team__item {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}
.footer {
  background-color: var(--bg-dark);
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.footer .logo {
  color: var(--white);
}
.footer .logo span {
  color: var(--accent);
}
.footer .logo {
  margin-bottom: 28px;
  display: block;
}
.footer__left {
  padding-top: 60px;
  text-align: center;
}
.footer__address {
  font-style: normal;
  color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
.footer__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__contact-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--accent);
}
.footer__text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__social-list {
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
}
.footer__social-icon {
  fill: currentColor;
}
.footer .social {
  margin-top: 0;
}
.footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}
.footer .social__link:hover, .footer .social__link:focus {
  background-color: var(--accent);
  color: var(--white);
}
.footer .subscribe__form {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
.footer .subscribe__row {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
.footer .subscribe__row input {
  margin-bottom: 20px;
  color: var(--white);
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 20px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .subscribe__row input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .subscribe__row input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .subscribe__row input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .subscribe__row input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .subscribe__row input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .subscribe__row input:focus {
  outline: none;
  border-color: var(--accent);
}
.footer .subscribe__label {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  font-weight: 700;
  text-align: center;
}
.footer__button {
  -ms-flex-item-align: center;
      align-self: center;
  height: 50px;
  max-width: 200px;
  gap: 10px;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer .icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 60px;
  }
  .footer__left {
    margin-right: 165px;
    text-align: center;
    padding-top: 0;
  }
  .footer__social-list {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
  }
  .footer .subscribe__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .subscribe__row {
    min-width: 450px;
    margin-bottom: 0px;
  }
  .footer .subscribe__input {
    min-width: 450px;
  }
  .footer .subscribe__label {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0px;
  }
  .footer .logo {
    margin-bottom: 0px;
  }
  .footer .container {
    padding: 0px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 94px;
  }
  .footer__left {
    margin-right: 0;
    text-align: left;
    padding-top: 0px;
    max-width: 231px;
  }
  .footer__contacts ul {
    display: block;
    margin-top: 20px;
  }
  .footer__contacts ul li:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer__text {
    text-align: start;
    margin-bottom: 20px;
  }
  .footer .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .subscribe__form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .subscribe__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    margin-bottom: auto;
  }
  .footer .subscribe__row input {
    margin-bottom: auto;
    color: var(--white);
    width: 358px;
  }
  .footer .subscribe__label {
    text-align: start;
  }
}
.clients__title {
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent);
  border-color: var(--accent);
}
.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #afb1b8;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__link:hover, .clients__link:focus {
    color: var(--accent);
    border-color: var(--accent);
  }
}
.button {
  border: none;
  margin-bottom: 0;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--primary {
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button--primary:hover, .button--primary:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form {
  padding: 40px;
}
.form-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.form-field label {
  margin: 4px;
  opacity: 0.5;
}
.form-field input {
  width: 100%;
  padding: 11px 12px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-field input::-webkit-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field input::-moz-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field input:-ms-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field input::-ms-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field input:hover, .form-field input:focus {
  border-color: var(--accent);
}
.form-field input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
.form-field input:focus::-moz-placeholder {
  opacity: 0.3;
}
.form-field input:focus:-ms-input-placeholder {
  opacity: 0.3;
}
.form-field input:focus::-ms-input-placeholder {
  opacity: 0.3;
}
.form-field input:focus::placeholder {
  opacity: 0.3;
}
.form-field textarea {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea::-webkit-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field textarea::-moz-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field textarea:-ms-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field textarea::-ms-input-placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field textarea::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.form-field textarea:hover, .form-field textarea:focus {
  border-color: var(--accent);
  outline: none;
}
.form-field textarea:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
.form-field textarea:focus::-moz-placeholder {
  opacity: 0.3;
}
.form-field textarea:focus:-ms-input-placeholder {
  opacity: 0.3;
}
.form-field textarea:focus::-ms-input-placeholder {
  opacity: 0.3;
}
.form-field textarea:focus::placeholder {
  opacity: 0.3;
}
.form-field:hover .input-icon, .form-field:focus-within .input-icon {
  color: var(--accent);
}
.form button {
  border: 1px solid var(--accent);
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--main-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  width: 100%;
}
.checkbox-text {
  display: inline;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.checkbox-input:checked ~ .checkbox-icon {
  background-color: var(--accent);
  background-image: url("../images/check.svg");
  background-size: 16px 16px;
  background-position: center;
  border-color: var(--accent);
}
.checkbox-icon {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  color: var(--accent);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .form {
    padding: 40px;
  }
  .form-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
  .form-field {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }
  .form-field label {
    margin: 4px;
    opacity: 0.5;
  }
  .form-field input {
    width: 100%;
    padding: 11px 12px;
    height: 40px;
    padding-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .form-field input::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field input::-moz-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field input:-ms-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field input::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field input:hover, .form-field input:focus {
    border-color: var(--accent);
  }
  .form-field input:focus::-webkit-input-placeholder {
    opacity: 0.3;
  }
  .form-field input:focus::-moz-placeholder {
    opacity: 0.3;
  }
  .form-field input:focus:-ms-input-placeholder {
    opacity: 0.3;
  }
  .form-field input:focus::-ms-input-placeholder {
    opacity: 0.3;
  }
  .form-field input:focus::placeholder {
    opacity: 0.3;
  }
  .form-field textarea {
    width: 100%;
    padding: 12px 16px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-field textarea::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field textarea::-moz-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field textarea:-ms-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field textarea::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
  .form-field textarea:hover, .form-field textarea:focus {
    border-color: var(--accent);
    outline: none;
  }
  .form-field textarea:focus::-webkit-input-placeholder {
    opacity: 0.3;
  }
  .form-field textarea:focus::-moz-placeholder {
    opacity: 0.3;
  }
  .form-field textarea:focus:-ms-input-placeholder {
    opacity: 0.3;
  }
  .form-field textarea:focus::-ms-input-placeholder {
    opacity: 0.3;
  }
  .form-field textarea:focus::placeholder {
    opacity: 0.3;
  }
  .form-field:hover .input-icon, .form-field:focus-within .input-icon {
    color: var(--accent);
  }
  .form button {
    border: 1px solid var(--accent);
    display: block;
    margin: 30px auto;
    margin-bottom: 0;
  }
  .input-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .input-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: var(--main-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox {
    padding: 10px 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    width: 100%;
    height: 24px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
  }
  .checkbox-input {
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 15px;
    cursor: pointer;
  }
  .checkbox-input:checked ~ .checkbox-icon {
    background-color: var(--accent);
    background-size: 16px 16px;
    background-position: center;
    border-color: var(--accent);
  }
  .checkbox-icon {
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox__link {
    color: var(--accent);
  }
}
.hero {
  min-height: 400px;
  padding: 118px 0;
  text-align: center;
  background-color: var(--bg-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-bg-mobile.jpg"), url("../images/hero-bg-mobile@2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-bg-mobile.jpg"), url("../images/hero-bg-mobile@2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-bg-mobile.jpg"), url("../images/hero-bg-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 26px;
  max-width: 360px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 400px;
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-bg-tablet.jpg"), url("../images/hero-bg-tablet@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-bg-tablet.jpg"), url("../images/hero-bg-tablet@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-bg-tablet.jpg"), url("../images/hero-bg-tablet@2x.jpg") 2x);
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-bg-desktop.jpg"), url("../images/hero-bg-desktop@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-bg-desktop.jpg"), url("../images/hero-bg-desktop@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-bg-desktop.jpg"), url("../images/hero-bg-desktop@2x.jpg") 2x);
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.logo {
  padding: 10px 0px;
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--accent);
}

.backdrop {
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: calc(100% - 30px);
  min-height: 609px;
  position: absolute;
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.icon-close {
  width: 11px;
  height: 11px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-height: 528px;
    min-width: 521px;
    position: absolute;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-btn:hover, .close-btn:focus {
    color: var(--accent);
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.social__icon {
  fill: currentColor;
}
.social__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background: var(--accent);
  color: var(--white);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.mobile-navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-navigation li {
  margin-bottom: 32px;
}
.mobile-navigation a {
  color: var(--main-color);
  text-decoration: none;
}
.mobile-navigation a:hover, .mobile-navigation a:focus {
  color: var(--accent);
}

.mobile-contacts {
  margin-top: auto;
  list-style: none;
  margin-bottom: 64px;
}
.mobile-contacts li:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts a {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mobile-contacts__tel {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent);
}
.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.16;
  color: var(--text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}
.mobile-socials li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
  text-decoration: none;
}
.mobile-socials li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--main-color);
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}
.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
.thumb::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent);
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.card-overlay {
  position: absolute;
  inset: 0;
  padding: 63px 24px;
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}
.flex-element:hover .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 30px;
}
.portfolio .buttons li {
  list-style: none;
}
.portfolio .buttons button {
  font-weight: 500;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-light);
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .buttons button:hover, .portfolio .buttons button:focus {
  background-color: var(--accent);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.flex-element {
  width: 100%;
  border: 1px solid #eeeeee;
  border-top: none;
  max-width: 450px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:hover, .flex-element:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-element:last-child {
  margin-bottom: 0;
}

.portfolio-content {
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .flex-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .flex-element a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-element {
    margin-bottom: 0;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    position: relative;
  }
  .flex-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-element {
    max-width: 370px;
  }
}/*# sourceMappingURL=main.css.map */