h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

/* main color #212121 */
/* text color #757575 */
/* white color #ffffff */
/* nav color rgba(255, 255, 255, 0.6) */
/* background color #2F303A */
/*background color #F5F4FA */
/*button color #FFFFFF */
/*accent #2196F3 */
:root {
  --main-color: #212121; /* текст головний */
  --text-color: #757575; /* текст другорядний */
  --white: #ffffff; /* білий */
  --nav-color: rgba(255, 255, 255, 0.6);
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
  --accent: #2196f3;
}
body {
  font-family:
    "Roboto",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    sans-serif;
  color: var(--main-color);
}
.header {
  background-color: var(--white);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
/* nav */
nav {
  display: flex;
  align-items: center;
}

.site-nav {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 93px;
  position: relative;
  align-items: stretch;
}

.site-nav .nav-item {
  position: relative;
}
.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
  transform: scaleX(1);
}
.site-nav a,
.site-nav .link {
  display: block;
  padding: 32px 0;
  position: relative;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent);
}
.logo {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo span {
  color: var(--main-color);
}
.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent);
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  min-height: 600px;
  text-align: center;
  background-color: var(--bg-dark);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-button {
  border: none;
  margin-bottom: 0;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-dark);
}
.hero h1 {
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero button {
  margin-bottom: 0px;
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.features h3 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-list li {
  width: 270px;
}
.features-icon {
  display: flex;
  padding: 25px;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
  margin-bottom: 30px;
}

/* services */
.services {
  background-color: var(--white);
}
.services h2 {
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.services-list {
  display: flex;
  gap: 30px;
}
.services.section {
  padding-top: 0;
}
.services-list li {
  position: relative;
}
.thumb-label {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/* team */
.team {
  background-color: var(--bg-light);
}
.team h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-list h3 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list li {
  background-color: var(--white);
  text-align: center;
  padding-bottom: 30px;
  border-radius: 4px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list img {
  margin-bottom: 30px;
}

.buttons button {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-light);
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.buttons.section {
  padding-bottom: 34px;
  margin-bottom: 0;
}
.buttons button:hover,
.buttons button:focus {
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.footer {
  background-color: var(--bg-dark);
  padding: 60px 0;
}
.footer address {
  font-style: normal;
}
.footer .logo span {
  color: var(--white);
}
.footer-contacts a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent);
}
.footer-contacts ul {
  margin-top: 20px;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.portfolio-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*thumb img*/

.li a {
  display: block;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent);
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-overlay {
  position: absolute;
  inset: 0;
  padding: 63px 24px;
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  z-index: 2;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .thumb::before {
  transform: translateY(0);
  opacity: 0.9;
}

.flex-element:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio-list {
  position: relative;
}
/*portfolio */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.flex-element:hover,
.flex-element:focus {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-content {
  padding: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.section.clients h2 {
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.clients-list a {
  width: 170px;
  height: 92px;
  border: 1px solid var(--bg-light);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}

.clients-list a:hover,
.clients-list a:focus {
  color: var(--accent);
  border-color: var(--accent);
}
.social {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  fill: currentColor;
}
.social-link {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background: var(--accent);
  color: var(--white);
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent);
  color: var(--white);
}
.team-list li .social li {
  background: none;
  box-shadow: none;
  padding: 0;
}

.footer-title {
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer .container {
  display: flex;
  align-items: baseline;
  gap: 94px;
}
.footer .social {
  margin-top: 0;
  justify-content: flex-start;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-row {
  display: flex;
  gap: 12px;
}
.subscribe-label {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  font-weight: 700;
}
.subscribe-row input {
  color: var(--white);
  width: 358px;
  height: 50px;
  padding: 20px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-row button,
.form button {
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white);
  margin-left: 10px;
}
.subscribe-row button:hover,
.form button:hover,
.subscribe-row button:focus,
.form button:focus {
  border: 1px solid var(--accent);
  background-color: var(--bg-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  min-height: 528px;
  min-width: 521px;
  position: absolute;
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}
.icon-close {
  width: 11px;
  height: 11px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background: #f2f2f2;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  padding: 40px;
}
.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.form-field input {
  width: 100%;
  padding: 11px 12px;
  height: 40px;
  padding-left: 40px;

  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
}

.form-field input:hover,
.form-field textarea:hover {
  border-color: var(--accent);
}

.form-field:hover .input-icon {
  color: var(--accent);
}

.form-field input:focus,
.form-field textarea:focus {
  border-color: var(--accent);
  outline: none;
}

.form-field:hover .input-icon,
.form-field:focus-within .input-icon {
  color: var(--accent);
}

.form-field input:focus::placeholder,
.form-field textarea:focus::placeholder {
  opacity: 0.3;
}

.form-field input,
.form-field textarea,
.input-icon {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field label {
  margin: 4px;
  opacity: 0.5;
}
.form-field input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--main-color);
}
.form button {
  border: 1px solid var(--accent);
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
}
.form-field textarea {
  width: 100%;
  padding: 12px 16px;
  height: 120px;

  resize: none;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
}
.form-field textarea::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
.checkbox {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
  width: 100%;
  height: 24px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.checkbox-input:checked ~ .checkbox-icon {
  width: 16px;
  height: 16px;

  background-color: var(--accent);
  background-image: url("../images/check.svg");
  background-size: 16px 16px;
  background-position: center;

  border-color: var(--accent);
  border-radius: 2px;
}
.checkbox-icon {
  width: 16px;
  height: 16px;
  display: flex;

  border: 1px solid var(--main-color);
  border-radius: 2px;
}
.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 16px;
  height: 15px;

  cursor: pointer;
}
