.header {
  background-color: var(--white);
}


.contacts {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  gap: 50px;
  &-icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
}
